In [418]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [420]:
df = pd.read_csv("warehouse_messy_data.csv")

# EDA

In [423]:
df.head()

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,ELECTRONICS,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,ELECTRONICS,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,CLOTHING,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,TOYS,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,FURNITURE,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023

In [425]:
df.shape

(1000, 10)

In [427]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product ID      1000 non-null   int64
 1   Product Name    1000 non-null   object
 2   Category        1000 non-null   object
 3   Warehouse       1000 non-null   object
 4   Location        1000 non-null   object
 5   Quantity        842 non-null    object
 6   Price           793 non-null    float64
 7   Supplier        1000 non-null   object
 8   Status          1000 non-null   object
 9   Last Restocked  800 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

In [429]:
df.describe()

        Product ID       Price
count  1000.000000  793.000000
mean   1503.929000   28.085839
std     289.998108   14.686312
min    1000.000000    9.990000
25%    1242.750000   19.990000
50%    1505.000000   29.990000
75%    1757.250000   49.990000
max    1998.000000   49.990000

# Stripping White Spaces

In [433]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

In [435]:
df.columns = df.columns.str.strip()

# Standardizing text format

In [439]:
df.head(10)

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,gadget y,ELECTRONICS,Warehouse 2,Aisle 1,300,9.99,Supplier C,In Stock,NaN
1,1435,gadget y,ELECTRONICS,Warehouse 2,Aisle 4,two hundred,19.99,Supplier C,Out of Stock,NaN
2,1860,widget a,CLOTHING,Warehouse 2,Aisle 3,100,19.99,Supplier B,In Stock,20/12/2022
3,1270,gadget z,TOYS,Warehouse 2,Aisle 4,50,49.99,Supplier B,In Stock,20/12/2022
4,1106,widget a,FURNITURE,Warehouse 3,Aisle 3,two hundred,9.99,Supplier D,Out of Stock,25/04/2023
5,1071,widget b,CLOTHING,Warehouse 3,Aisle 5,300,NaN,Supplier A,In Stock,20/12/2022
6,1700,widget a,CLOTHING,Warehouse 2,Aisle 2,two hundred,49.99,Supplier B,In Stock,20/12/2022
7,1020,widget c,CLOTHING,Warehouse 1,Aisle 5,two hundred,9.99,Supplier D,Out of Stock,20/12/2022
8,1614,gadget y,ELECTRONICS,Warehouse 3,Aisle 3,300,9.99,Supplier B,Out of Stock,05/03/2023
9,1121,widget b,TOYS,Warehouse 1,Aisle 2,50,19.99,Supplier C,Out of Stock,20/12/2022

In [441]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

In [443]:
df["Product Name"] = df["Product Name"].str.title()

In [445]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

In [447]:
df["Category"] = df["Category"].str.capitalize()

In [449]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

# Correcting and Converting Data Types

In [453]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product ID      1000 non-null   int64
 1   Product Name    1000 non-null   object
 2   Category        1000 non-null   object
 3   Warehouse       1000 non-null   object
 4   Location        1000 non-null   object
 5   Quantity        842 non-null    object
 6   Price           793 non-null    float64
 7   Supplier        1000 non-null   object
 8   Status          1000 non-null   object
 9   Last Restocked  800 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 78.3+ KB

In [455]:
# Correcting the Quantity column
df["Quantity"] = df["Quantity"].replace("two hundred", 200)

df["Quantity"] = df["Quantity"].replace("NaN", np.nan)

# convert to numeric
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")

In [457]:
df.head()

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,Gadget Y,Electronics,Warehouse 2,Aisle 1,300.0,9.99,Supplier C,In Stock,NaN
1,1435,Gadget Y,Electronics,Warehouse 2,Aisle 4,200.0,19.99,Supplier C,Out of Stock,NaN
2,1860,Widget A,Clothing,Warehouse 2,Aisle 3,100.0,19.99,Supplier B,In Stock,20/12/2022
3,1270,Gadget Z,Toys,Warehouse 2,Aisle 4,50.0,49.99,Supplier B,In Stock,20/12/2022
4,1106,Widget A,Furniture,Warehouse 3,Aisle 3,200.0,9.99,Supplier D,Out of Stock,25/04/2023

In [459]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product ID      1000 non-null   int64
 1   Product Name    1000 non-null   object
 2   Category        1000 non-null   object
 3   Warehouse       1000 non-null   object
 4   Location        1000 non-null   object
 5   Quantity        842 non-null    float64
 6   Price           793 non-null    float64
 7   Supplier        1000 non-null   object
 8   Status          1000 non-null   object
 9   Last Restocked  800 non-null    object
dtypes: float64(2), int64(1), object(7)
memory usage: 78.3+ KB

In [461]:
# Correct the Price column

df["Price"] = df["Price"].replace("NaN", np.nan)

df["Price"] = pd.to_numeric(df["Price"], errors="coerce")

In [463]:
# Correct the Last Restocked column
df["Last Restocked"] = df["Last Restocked"].replace("NaN", np.nan)

df["Last Restocked"] = pd.to_datetime(df["Last Restocked"], errors="coerce")

C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\56104368.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["Last Restocked"] = pd.to_datetime(df["Last Restocked"], errors="coerce")

In [465]:
df.head()

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,Gadget Y,Electronics,Warehouse 2,Aisle 1,300.0,9.99,Supplier C,In Stock,NaT
1,1435,Gadget Y,Electronics,Warehouse 2,Aisle 4,200.0,19.99,Supplier C,Out of Stock,NaT
2,1860,Widget A,Clothing,Warehouse 2,Aisle 3,100.0,19.99,Supplier B,In Stock,2022-12-20
3,1270,Gadget Z,Toys,Warehouse 2,Aisle 4,50.0,49.99,Supplier B,In Stock,2022-12-20
4,1106,Widget A,Furniture,Warehouse 3,Aisle 3,200.0,9.99,Supplier D,Out of Stock,2023-04-25

In [467]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product ID      1000 non-null   int64
 1   Product Name    1000 non-null   object
 2   Category        1000 non-null   object
 3   Warehouse       1000 non-null   object
 4   Location        1000 non-null   object
 5   Quantity        842 non-null    float64
 6   Price           793 non-null    float64
 7   Supplier        1000 non-null   object
 8   Status          1000 non-null   object
 9   Last Restocked  800 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(6)
memory usage: 78.3+ KB

# Handling Missing Values

In [471]:
df.describe()

        Product ID    Quantity       Price                 Last Restocked
count  1000.000000  842.000000  793.000000                            800
mean   1503.929000  161.401425   28.085839  2023-02-12 14:43:48.000000256
min    1000.000000   50.000000    9.990000            2022-12-20 00:00:00
25%    1242.750000  100.000000   19.990000            2022-12-20 00:00:00
50%    1505.000000  150.000000   29.990000            2023-01-15 00:00:00
75%    1757.250000  200.000000   49.990000            2023-03-05 00:00:00
max    1998.000000  300.000000   49.990000            2023-04-25 00:00:00
std     289.998108   87.000118   14.686312                            NaN

In [473]:
df["Quantity"].mean()

np.float64(161.40142517814726)

In [475]:
df["Quantity"].median()

np.float64(150.0)

In [477]:
df["Quantity"].skew()

np.float64(0.3787833111883261)

In [479]:
# Fill NaN values with a default strategy, here we use mean

df["Quantity"].fillna(df["Quantity"].mean(), inplace=True)

C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\193159115.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Quantity"].fillna(df["Quantity"].mean(), inplace=True)

In [481]:
df["Price"].mean()

np.float64(28.08583858764187)

In [483]:
df["Price"].median()

np.float64(29.99)

In [485]:
df["Price"].skew()

np.float64(0.3869429855327663)

In [487]:
# Fill NaN for Price with startegy using the mean

df["Price"].fillna(df["Price"].mean(), inplace=True)

C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\3683218402.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Price"].fillna(df["Price"].mean(), inplace=True)

In [489]:
# Fill NaN values for categorical columns with a placeholder or most frequent value (Mode)

df["Product Name"].fillna("Unknown Product", inplace=True)

df["Category"].fillna("Unknown Categoty", inplace=True)

df["Warehouse"].fillna(df["Warehouse"].mode()[0], inplace=True)

df["Location"].fillna("Unknown Location", inplace=True)

df["Supplier"].fillna(df["Supplier"].mode()[0], inplace=True)

df["Status"].fillna(df["Status"].mode()[0], inplace=True)

df["Last Restocked"].fillna(pd.to_datetime("today"), inplace=True)

C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Product Name"].fillna("Unknown Product", inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Category"].fillna("Unknown Categoty", inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Warehouse"].fillna(df["Warehouse"].mode()[0], inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Location"].fillna("Unknown Location", inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Supplier"].fillna(df["Supplier"].mode()[0], inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Status"].fillna(df["Status"].mode()[0], inplace=True)
C:\Users\Pet3r\AppData\Local\Temp\ipykernel_21040\536959857.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Last Restocked"].fillna(pd.to_datetime("today"), inplace=True)

In [491]:
df.columns

Index(['Product ID', 'Product Name', 'Category', 'Warehouse', 'Location',
       'Quantity', 'Price', 'Supplier', 'Status', 'Last Restocked'],
      dtype='object')

In [493]:
df.head()

,Product ID,Product Name,Category,Warehouse,Location,Quantity,Price,Supplier,Status,Last Restocked
0,1102,Gadget Y,Electronics,Warehouse 2,Aisle 1,300.0,9.99,Supplier C,In Stock,2025-10-21 13:39:47.573090
1,1435,Gadget Y,Electronics,Warehouse 2,Aisle 4,200.0,19.99,Supplier C,Out of Stock,2025-10-21 13:39:47.573090
2,1860,Widget A,Clothing,Warehouse 2,Aisle 3,100.0,19.99,Supplier B,In Stock,2022-12-20 00:00:00.000000
3,1270,Gadget Z,Toys,Warehouse 2,Aisle 4,50.0,49.99,Supplier B,In Stock,2022-12-20 00:00:00.000000
4,1106,Widget A,Furniture,Warehouse 3,Aisle 3,200.0,9.99,Supplier D,Out of Stock,2023-04-25 00:00:00.000000